$grayBGcolor: #fbfbfb;
$whiteBGcolor: white;
$mainTextColor: #8993ad;
$hederTextColor: #1f1f24;
$hederTextColor2: #fc557c;
$whiteTextColor: #fff;
$modalTextColor: #fff;
$gradient: linear-gradient(13deg, #ff8f5a 30%, #ff2f96 70%);
$gradient1: linear-gradient(0deg, #ff8f5a 30%, #ff2f96 60%);
$modalgradient: linear-gradient(0deg, #0000 5%, #a76140dd 50%, #000000ff 100%);
$modalgradient-2: linear-gradient(0deg, #000a 5%, #a76140dd 50%, #000a 100%);
$mainFont: Roboto, sans-serif;