

.price {
  position: relative;
  background: $gradient;
  &__content {
    padding: 0 50px 0 130px;
  }
  &__title {
    padding-top: 74px;
    @media screen and (max-width: 991px) {
      padding-top: 41px;
    }
  }
  &__footnote {
    padding: 30px 200px 80px 12px;
    text-indent: -12px;
    color: $whiteTextColor;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.7;
    @media screen and (max-width: 1199px) {
      padding-right: 100px;
    }
    @media screen and (max-width: 991px) {
      padding-top: 32px;
      padding-bottom: 42px;
      font-size: 15px;
      line-height: 30px;
    }
    @media screen and (max-width: 575px) {
      padding-right: 0px;
    }
  }
  &__elem--white {
    position: absolute;
    top: 0;
    left: 50%;
  }
  &__elem {
    position: absolute;
    color: $whiteTextColor;
    font-weight: 700;
    &-1 {
      transform: translate(42vw, 256px) rotate(-17deg);
      font-size: 49px;
      @media screen and (max-width: 1199px) {
       display: none; 
      }
    }
    &-2 {
      transform: translate(-43.25vw, 58px) rotate(27deg);
      font-size: 49px;
      @media screen and (max-width: 1199px) {
        transform: translate(-34.15vw, 21px) rotate(27deg);
        font-size: 32.5px;
      }
      @media screen and (max-width: 991px) {
        display: none; 
      }
    }
    &-3 {
      transform: translate(24.15vw, 301px) rotate(20deg);
      font-size: 38px;
      @media screen and (max-width: 1199px) {
        transform: translate(.1vw, 304px) rotate(20deg);
        font-size: 24px;
      }
      @media screen and (max-width: 991px) {
        display: none; 
      }
    }
    &-4 {
      transform: translate(-37.15vw, 250px) rotate(17deg);
      font-size: 54px;
      @media screen and (max-width: 1350px) {
       display: none; 
      }
    }
    &-5 {
      transform: translate(36.25vw, 74px) rotate(-23deg);
      font-size: 40px;
      @media screen and (max-width: 1199px) {
        transform: translate(34.8vw, 285px) rotate(-23deg);
        font-size: 40px;
      }
      @media screen and (max-width: 991px) {
        display: none; 
      }
    }
  }
}